@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8037;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  7% {
    opacity: 0.8;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.9;
  }
  20% {
    opacity: 1;
  }
  77% {
    opacity: 1;
  }
  79% {
    opacity: 0.9;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0.8;
  }
  84% {
    opacity: 1;
  }
  89% {
    opacity: 0.9;
  }
  90% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 5s infinite;
  animation-timing-function: steps(1, end);
}
